/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
}

a:visited {
color: #555555;
}

a:hover {
	color: #FFFFFF;
	background-color:#000000;
	text-decoration:underline;
}

input[type="text"],
textarea {
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all .3s;
  transition: all .3s;
}
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #FFD700;
  border: 1px solid #FFD700;
}

header {
	width: 100%;
    margin-left: 33px;
    margin-top: 25px;
}

.notice {
	color: #006600;
	width: 870px;
	padding-left: 66px;
	padding-top: 33px;
	font-size: 13px;
}

.top-text {
	width: 100%;
	height: 100px;
    margin-left: 65px;
    margin-top: 8px;
    line-height: 50px;
    font-size: 13px;
}

main {
	font-size: 13px;
	width: 100%;
	margin-left: 33px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.table {
	border-collapse: separate;
    border-spacing: 9px 9px;
}

.form {
	margin-top:16px;
	line-height: 25px;
}

.error {
	width: 450px;
	height: 120px;
	border: 2px solid;
    border-color: #CC0000;
    margin-top: 10px;
    background-color: #EEEEEE;
}

.error-message {
	width: 100%;
	text-align: left;
    font-size: 12px;
    padding: 5px 5px 5px 15px;
    background-color: #CC0000;
    color: #fff;
}

.message-list {
	position: relative;
	left: 50px;
}

.show {
	width: 100%;
	padding-left: 66px;
	padding-top: 33px;
	font-size: 13px;
}

.title, .body {
	width: 100%;
	padding-bottom: 33px;
}

.box {
	display: inline-block;
	padding-right: 5px;
}

.text {
	display: inline-block;
}

.edit {
	font-size: 13px;
	width: 100%;
	padding-left: 33px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.edit-form {
	font-size: 13px;
	margin-top: 16px;
	line-height: 25px;
}

.link {
	padding-left: 33px;
	padding-top: 8px;
	font-size: 13px;
}